@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  background-color: #1b1730;
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 2px solid #fff;
  background-color: #1c1c1c;
  width: 800px;
  height: 400px;
}

.game-container {
  text-align: center;
}
